<%- include('header') -%>

<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="#">The blogworld</a>
      <a href="/"><button class="btn btn-primary" type="submit">Log out</button></a>
    </div>
</nav>



<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="cover-heading text-center mb-3">Table</h1>
    <div class="container bg-light text-dark">
      <table class="table table-striped">
        <tr><th>Framework</th><th>URL</th></tr>
        <tr><td>asdf</td><td>asdf</td></tr>
      </table>
    </div>
</div>


<%- include('footer') -%>