<%- include('header') -%>

<form action="/route/admin" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Admin name: </label>
      <input type="text" class="form-control" id="adminName" aria-describedby="emailHelp" name="adminName">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password: </label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<%- include('footer') -%>