<%- include('header') -%>

<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="#">Welcome, <%=user%>!</a>
      <a href="/"><button class="btn btn-primary" type="submit">Log out</button></a>
    </div>
</nav>



<%- include('footer') -%>